@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap");
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12pt;
  vertical-align: baseline;
}

.out-the-header {
  background-color: #034ea2;
}
.out-the-header .the-header .the-row {
  display: flex;
  width: 100%;
}
.out-the-header .the-header .the-row .logo {
  width: 30%;
}
.out-the-header .the-header .the-row .logo img {
  margin: auto;
  width: 150px;
  height: 150px;
}
.out-the-header .the-header .the-row .text {
  width: 70%;
  margin: auto;
}
.out-the-header .the-header .the-row .text p {
  font-size: 25pt;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.out-the-menu {
  box-shadow: 0px 2px 5px lightslategray;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}
.out-the-menu .the-menu .navbar {
  margin: auto;
}
.out-the-menu .the-menu .navbar .row-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.out-the-menu .the-menu .navbar .row-menu .menu-in ul li a {
  color: #034EA2;
  font-size: 12pt;
}
.out-the-menu .the-menu .navbar .row-menu .menu-in ul li a:hover {
  color: blue;
}
.out-the-menu .the-menu .navbar .row-menu .menu-in ul li input {
  border: none;
  background: none;
  color: #034EA2;
}

.the-carousel {
  margin-top: 10px;
}

.the-event {
  margin-top: 20px;
}
.the-event .in-the-event .col-left .title {
  margin-bottom: 10px;
}
.the-event .in-the-event .col-left .title span {
  font-size: 15pt;
  color: #ec0b12;
  font-weight: bold;
  text-transform: uppercase;
}
.the-event .in-the-event .col-left .panel-news {
  max-height: 200px;
  overflow: hidden;
}
.the-event .in-the-event .col-left .panel-news img {
  height: 600px;
  width: 100%;
}
.the-event .in-the-event .col-left .panel-post .title-post {
  margin: 10px 0px 10px 0px;
}
.the-event .in-the-event .col-left .panel-post .title-post a {
  color: #0c4da2;
  font-weight: bold;
  text-decoration: none;
}
.the-event .in-the-event .col-left .panel-post .in-title-post {
  margin: 10px 0px 10px 0px;
}
.the-event .in-the-event .col-left .panel-post .in-title-post a {
  color: #0c4da2;
  text-decoration: none;
}
.the-event .in-the-event .col-left .panel-post .content-post {
  text-align: justify;
}
.the-event .in-the-event .col-left .panel-post .content-post p {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
.the-event .in-the-event .col-left .panel-post .content-post p a {
  color: #ec0b12;
  text-decoration: none;
}
.the-event .in-the-event .col-mid .title {
  margin-bottom: 10px;
}
.the-event .in-the-event .col-mid .title span {
  font-size: 15pt;
  color: #ec0b12;
  font-weight: bold;
  text-transform: uppercase;
}
.the-event .in-the-event .col-mid .work .row-work .col {
  padding: 0px 5px 0px 5px;
}
.the-event .in-the-event .col-mid .work .row-work .col #th1 {
  background-color: #eae447;
}
.the-event .in-the-event .col-mid .work .row-work .col #th2 {
  background-color: #034ea2;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail {
  text-align: center;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail img {
  width: 60px;
  height: 60px;
  -webkit-transition: -webkit-transform 1s;
  cursor: pointer;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail img:hover {
  -webkit-transform: rotateY(360deg) translateX(0);
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail .caption a {
  text-decoration: none;
  color: #000000;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail .caption a:hover {
  color: #ffffff;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail .caption a h3 {
  text-align: center;
  margin: 2px 5px 2px 5px;
  font-size: 12pt;
}
.the-event .in-the-event .col-mid .work .row-work .col .thumbnail .in-thumbnail .caption p {
  text-align: center;
  align-items: flex-end;
}
.the-event .in-the-event .col-right .title {
  margin-bottom: 10px;
}
.the-event .in-the-event .col-right .title span {
  font-size: 15pt;
  color: #ec0b12;
  font-weight: bold;
  text-transform: uppercase;
}
.the-event .in-the-event .col-right .notify .panel .panel-heading a {
  color: #ffffff;
  text-decoration: none;
}
.the-event .in-the-event .col-right .notify .panel .panel-heading a:hover {
  color: crimson;
}
.the-event .in-the-event .col-right .notify .read-more {
  text-align: end;
}

.out-the-footer {
  background-color: #034ea2;
  margin-top: 20px;
}
.out-the-footer .the-footer .the-row-footer {
  display: flex;
  align-items: center;
}
.out-the-footer .the-footer .the-row-footer .col-1 img {
  width: 200px;
}
.out-the-footer .the-footer .the-row-footer .col-2 {
  color: #ffffff;
}
.out-the-footer .the-footer .the-row-footer .col-2 h1 {
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: bold;
}
.out-the-footer .the-footer .the-row-footer .col-2 p {
  font-size: 12pt;
}
.out-the-footer .the-footer .the-row-footer .col-3 {
  color: #ffffff;
  font-size: 12pt;
}
.out-the-footer .the-footer .the-row-footer .col-3 a {
  color: cyan;
}/*# sourceMappingURL=style.css.map */